<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <title>Document</title>
  </head>
  <body>
    <button  class="btn btn-primary">this is a bootstrap button</button>

    <div  id="successTip" class="alert alert-success" role="alert">you get the right style</div>
   
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>
